#s-87eab477-ad15-41a9-918a-c5aaca54d52d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Bebas Kai',Arial;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_1 > .clipping, #s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Bebas Kai',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Bebas Kai',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_1 {
  position: absolute;
  width: 180px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_1 > .paddingLayer {
  height: 18px;
  width: 163px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Bebas Kai',Arial;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_2 > .clipping, #s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Bebas Kai',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Bebas Kai',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_2 {
  position: absolute;
  width: 180px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_2 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_2 > .paddingLayer {
  height: 18px;
  width: 163px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Bebas Kai',Arial;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_3 > .clipping, #s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Bebas Kai',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Bebas Kai',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_3 {
  position: absolute;
  width: 180px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_3 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Input_3 > .paddingLayer {
  height: 18px;
  width: 163px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_1 {
  position: absolute;
  width: 64px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_1 > .clipping, #s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_1 > .paddingLayer {
  height: 23px;
  width: 64px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_2 {
  position: absolute;
  width: 61px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_2 > .clipping, #s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_2 > .paddingLayer {
  height: 23px;
  width: 61px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}