#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-87eab477-ad15-41a9-918a-c5aaca54d52d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}